{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-react-css-modules",
      {
        "generateScopedName": "[hash:base64]"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
