{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
